/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/results
/public/plugins/images/file_p0/
/public/plugins/images/file_p1/
/public/plugins/pdf/bukti_scan_p0/
/public/plugins/pdf/bukti_scan_p1/
